<a href="https://colab.research.google.com/github/shivam361v/MachineLearning/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = input("Enter your name ?");
print("Hello", name);

Enter your name ?Shivam
Hello Shivam

In [ ]:
age = 24
print(type(age))
print(type(name))

<class 'int'>
<class 'str'>

In [ ]:
ShoppingList = input("Enter item to shop from market");
qty = [1, 2, 3, 4, 5];
name = ("Shivam", "Vishwakarma");
statement = "{} will go to market to buy {}";
for x in qty:
  print(x);
if "Shivam" in name:
  print("Yes, lets go to market");
print( name[1]);
print(name[1].upper());
print(name[0].split('v'));
print(statement.format(name[0], name[1]));

Enter item to shop from marketapple banana
1
2
3
4
5
Yes, lets go to market
Vishwakarma
VISHWAKARMA
['Shi', 'am']
Shivam will go to market to buy Vishwakarma

In [ ]:
sum = 10 + 20;
powers = 10 ** 2;
name1 = "shivam";
name2 = "Shivam";
if sum <= powers :
  print('true');
if 's' in name1:
  print("Name contains letter 's' ");
if name1 is name2:
  print("Both names are the same");

true
Name contains letter 's'